---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for course in site.data.teaching %}
  <div class="archive__item">
    
    <h2 class="archive__item-title">
      {{ course.title }}
    </h2>

    <div class="teaching-meta">
      <span class="teaching-left">
        {{ course.type }}, <i>{{ course.venue }}</i>
      </span>

      <span class="teaching-right">
        {{ course.years }}
      </span>
    </div>

  </div>
{% endfor %}
